In [1]:
from splinter import Browser
from bs4 import BeautifulSoup 
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 102.0.5005
[WDM] - Get LATEST chromedriver version for 102.0.5005 google-chrome
[WDM] - Driver [C:\Users\xhu\.wdm\drivers\chromedriver\win32\102.0.5005.61\chromedriver.exe] found in cache

## Part  1: Scraping
### NASA Mars News

In [3]:
url = "https://redplanetscience.com/"
browser.visit(url)

In [4]:
# collect the latest titles and news and assign
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
news_title = soup.find_all('div', class_='content_title')[0].text
news_p = soup.find_all('div', class_='article_teaser_body')[0].text
# news_title=soup.select_one('div.content_title').text
# news_p=soup.select_one('div.article_teaser_body').text
print(f"The latest news:{news_title}\n")
print(news_p)

The latest news:7 Things to Know About the Mars 2020 Perseverance Rover Mission

NASA's next rover to the Red Planet is slated to launch no earlier than July 30. These highlights will get you up to speed on the ambitious mission.

### JPL Mars Space Images—Featured Image

In [5]:
img_url="https://spaceimages-mars.com"
browser.visit(img_url)

In [6]:
## Design an XPATH selector,xpath works in jupyternotebook,but not in .py file.

# xpath='/html/body/div[8]/div/div/div/div/img'
xpath='/html/body/div[1]/div/a'

In [7]:
results = browser.find_by_xpath(xpath)
img = results[0]
img.click()

In [8]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
image_url = soup.find("img", class_="fancybox-image")["src"]
image_url

'image/featured/mars3.jpg'

In [9]:

html = browser.html
soup = BeautifulSoup(html, 'html.parser')
image_url = soup.select_one("img.fancybox-image").get("src")
image_url

'image/featured/mars3.jpg'

In [10]:
# html = browser.html
# soup = BeautifulSoup(html, 'html.parser')
# img=[i.get("src") for i in soup.find_all("img",class_=fancybox-image")] 
# img[0]

In [11]:
print(f"The full image link is:{img_url}/{image_url}")

The full image link is:https://spaceimages-mars.com/image/featured/mars3.jpg

In [12]:
featured_image_url=img_url+"/"+image_url
featured_image_url

'https://spaceimages-mars.com/image/featured/mars3.jpg'

### Mars Facts

In [13]:
#Visit the [Mars Facts webpage](https://galaxyfacts-mars.com) 
facts_url="https://galaxyfacts-mars.com"
browser.visit(facts_url)

In [14]:
#use Pandas to scrape the table containing facts about the planet including diameter, mass, etc.
tables = pd.read_html(facts_url)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [15]:
#Use Pandas to convert the data to a HTML table string.
df = tables[0]
df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [16]:
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n      <th>2</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Mars - Earth Comparison</td>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [17]:
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>0</th>      <th>1</th>      <th>2</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Mars - Earth Comparison</td>      <td>Mars</td>      <td>Earth</td>    </tr>    <tr>      <th>1</th>      <td>Diameter:</td>      <td>6,779 km</td>      <td>12,742 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg</td>      <td>5.97 × 10^24 kg</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2</td>      <td>1</td>    </tr>    <tr>      <th>4</th>      <td>Distance from Sun:</td>      <td>227,943,824 km</td>      <td>149,598,262 km</td>    </tr>    <tr>      <th>5</th>      <td>Length of Year:</td>      <td>687 Earth days</td>      <td>365.24 days</td>    </tr>    <tr>      <th>6</th>      <td>Temperature:</td>      <td>-87 to -5 °C</td>      <td>-88 to 58°C</td>    </tr>  </tbody></table>'

In [18]:
df.to_html('table.html')

In [19]:
# !open table.html
!explorer table.html

### Mars Hemispheres

In [20]:
# Visit the [astrogeology site](https://marshemispheres.com/) 
#to obtain high-resolution images for each hemisphere of Mars.
mars_url="https://marshemispheres.com/"
browser.visit(mars_url)

In [21]:
# You will need to click each of the links to the hemispheres 
#in order to find the image URL to the full-resolution image.
html = browser.html
    # Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')
    # Retrieve all elements that contain item
items = soup.find_all('div', class_='item')
hemisphere_img_urls=[]
    # Iterate through each item
for item in items:
       
    title = item.find('h3').text
#     find the itemlink:<a href="cerberus.html" class="itemLink product-item">
    hemi_url=mars_url+item.find("a",class_="itemLink product-item")["href"]
    browser.visit(hemi_url)
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    img_url = soup.find("img", class_="wide-image")["src"]
    hemi_img_url=mars_url+img_url
    hemisphere_img_urls.append({'title': title, 'img_url':hemi_img_url})

#Append the dictionary with the image URL string and the hemisphere title to a list. 
#This list will contain one dictionary for each hemisphere.
hemisphere_img_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]